body{background-color:#3F9AAE}

.header{
    background-color:#79C9C5;
    color:#FFE2AF;
    text-align:center;
    position:relative;
    height:50px;
    border-radius:10px;
    margin:10px;
    padding:0px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-style: normal;
    border:solid black 2px
}

.header > #Pt{
    text-align:center;
    position:absolute;
    height:30px;
    width:120px;
    margin:0px;
    padding:0px;
    top:10px;
    left:0px;
}

.header > #Name{
    text-align:center;
    position:absolute;
    height:30px;
    width:227px;
    right:0px;
    margin:0px;
    padding:0px;
    top:10px;
}
hr{
    color:white
}

.about-me{
    background-color:#F96E5B;
    border-radius:10px;
    border-radius:10px;
    margin:10px;
    padding:10px;
    font-size:1.5rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-style: normal;
    border:solid black 2px
}

.footer {
    background-color:#F96E5B;
    text-align:center;
    position:relative;
    height:50px;
    border-radius:10px;
    margin:0px;
    margin-top:6px;
    padding:0px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-style: normal;
    border:solid black 2px
}
